.detail-delete-button {
    background-color: #FF2400;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

.detail-delete-button:hover {
    background-color: #E0115F;
}