.profile-body-details {
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
    padding-top: 20px;
}

@media (max-width: 480px) {
    .profile-body-details {
        gap: 5px;
    }

    .clips-preview-box {
        width: calc(50% - 5px);
    }
}

.profile-body-no-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; 
    width: 95.5%;
    padding: 20px;
}

.no-posts-icon {
    width: 160px; 
    height: auto;
    margin-bottom: 10px; 
}

.no-posts-text {
    font-size: 32px; 
    color: #8e8e8e; 
    text-align: center;
}