.profile-body-details {
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
    padding-top: 20px;
}

@media (max-width: 480px) {
    .profile-body-details {
        gap: 5px;
    }

    .clips-preview-box {
        width: calc(50% - 5px);
    }
}